h1 {
    color: green;
    align: center;
}
img {
    height: 200px;
    width: 200px;
}
ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

p {
    color: blue;

}



